.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.docx
doktorat_JESowa_ENG.pdf
*.bib
*.log
nice_sentences*

*.tex
library.bib
doktorat_JESowa_ENG.log
doktorat_JESowa_ENG.pdf
*.csl
1.Rmd
doktorat_JESowa._ENG.log
doktorat_JESowa._ENG.pdf
/images/